<ion-header>
   
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back-outline" routerLink="/home"></ion-icon>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="title-center">
    <ion-title>Login</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<div class="margin-top">
  <ion-item>
  <ion-label position="floating" class="ion-text-center">Enter Phone Number</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>
  </div> 

  <div class="margin-top">
    <p>By logging in your agree to our privacy policy</p>

    <ion-button expand="block" color="primary" routerLink="/user">continue</ion-button>
  </div>

