

.ion-margin{
    margin:0em;
}

.img{
    height: 8vh;
}
ion-card{
    height:100% !important;
}
ion-card-title{
    text-align: center;
}

.img2{
    height: 8vh;
    margin-left: 20%;

}
ion-title{
    text-align:center !important;
}


ion-button{
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}
.profile{
    padding-left: 35%;
    color: white;

}

