.img{
    align-self: center;
    width: 100px;
    margin-top:40%;

}
.ion-margin-bottom{
    --margin-bottom: 0em;
}

.cent{
    text-align: center;
}
.paragraph{
    margin-left: 3%;
    margin-top: 8%;
    padding-top: 20%;
}
.color{
  background-color: green
}
/* Set the color on all ion-button elements */



