
<ion-content>
  <ion-grid>
    <ion-toolbar>
    <ion-row >
   <ion-col offset="4" >
   
    <img class="img" src="assets/logo.jpg"/>
   </ion-col>
    </ion-row>
    </ion-toolbar>

    <ion-toolbar class="ion-margin-bottom">
    <ion-row>
  <ion-col>
   <h1 class="cent">Welcome to Kanika</h1>
    <p class="paragraph">Are You ready to get a mechanic at a Click of a button?</p>
  </ion-col>
    </ion-row>
  </ion-toolbar>
  
    
    <ion-row>
   <ion-col offset="2">
     <div class="button">
    <ion-button routerLink="/carowner">Continue With Your Number</ion-button>
  </div>
   </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>